@font-face
{
font-family: 'Festus';
src: url('font/festus.ttf');
}

* 
{
margin: 0;
padding: 0;
}

body
{
height: 100vh;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.header
{
font-family: Festus;
justify-content: space-between;
display: flex;
width: 100%;
}

.header img
{
width: 46px;
height: 64px;
}

.header h1
{
text-align: center;
font-size: 60px;
display: block;
margin: 0 auto;
}

header+hr
{
width: 100%;
height: 1px;
}

header a
{
margin: 2px;
}

section+hr
{
height: auto;
width: 1px;
}

.data
{
width: 33.3%;
height: 82.5%;
display: flex;
flex-direction: column;
margin: 15px 0;
}

.data h2
{
font-size: 30px;
text-align: center;
display: block;
width: 100%;
}

#avatar
{
text-align: center;
width: 150px;
height: 150px;
margin-bottom: 20px;
}

.data label
{
margin: 20px 0;
font-size: 26px;
}

.data input
{
size: 26px;
height: 39px;
margin: 0 5px;
float: right;
width: 300px;
}

.pi
{
margin-top: 13px; 
margin-left: 5px;
text-align: left;
}

.p
{
text-align: center;
}

#button
{
height: auto;
}

#delete
{
margin-top: 15%;
float: none;
height: 25px;
color: #000;
}

.models
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 66%;
height: auto;
}

.models h2
{
width: 100%;
color: #000;
text-align: center;
display: block;
}

.model
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.model
{
width: 300px;
height: 150px;
border-color: #000;
margin: auto;
}

.models img
{
height: 160px;
width: 272px;
}

footer
{
justify-content: space-between;
display: inline-flex;
width: 100%;
}

.hr
{
width: 100%;
height: 1px;
}

footer p
{
text-align: center;
margin: 0 auto;
}