* {
  margin: 0;
  padding: 0;
}

body
{
	height: 100vh;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
}

.header
{
	justify-content: space-between;
	display: inline-flex;
	width: 100%;
}

.header img
{
	width: 46px;
	height: 64px;
}

.header h1
{
	text-align: center;
	font-size: 60px;
	display: block;
	margin: 0 auto;
}

header+hr
{
	width: 100%;
}

section+hr
{
	height: 88vh;
	width: 1px;
}

.data
{
	width: 300px;
	height: auto;
	justify-content: space-between;
	text-align: right;
}

.data h2
{
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.data label
{
	font-size: 19px;
}

.data input
{
	width: 150px;
}

.data label+input
{
	justify-content: space-between;
}

.data a
{
	text-align: center;
	color: #000;
}

.models
{
	flex-direction: column;
	width: 73%;
	height: auto;
}

.models h2
{
	text-align: center;
	display: block;
}

#model
{
	display: inline-block;
}

.model
{
	width: 300px;
	height: 150px;
	border-color: #000;
	margin: 10px;
	background: url(img/background/5.png);
}

footer
{
	justify-content: space-between;
	display: inline-flex;
	width: 100%;
}

.hr
{
	width: 100%;
	height: 1px;
}

footer p
{
	text-align: center;
	margin: 0 auto;
}